body{
    width: 390px;
    height: 844px;
    margin: 0px;
    background-color: #C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    width: 390px;
    height: 700px;
    border-radius: 20px 20px 0px 0px;
}
.divBill{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 25px 25px 0px 25px;
}
.bill, .selectTip, .numberPeople{
    color: #6B797A;
    font-family: 'Space Mono', monospace;
    font-size: medium;
    /* margin: 8px; */
}
.selectTip{
    margin-left: 25px;
}
.amount{
    border: none;
    background-color: #F3F8FB;
    font-size: 24px;
    color: #0A4847;
    font-weight: 1000;
    font-family: 'Space Mono', monospace;
    text-align: end;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    width: 335px;
}
::placeholder {
    color: #A2BCB9;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    text-align: start;
    font-weight: 100;
  }
.divTip{
    margin: 0px 25px 0px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.button1, .button2, .button3, .button4, .button5{
    width: 160px;
    height: 50px;
    margin-bottom: 15px;
    background-color:  #0A4847;
    color: white;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: bold;
    border-width: inherit;
  }
  .button1, .button3, .button5{
    margin-right: 15px;
  }
.button6{
    width: 160px;
    height: 50px;
    background-color:  #F3F8FB;
    border-radius: 5px;
    font-size: 24px;
    border-width: inherit;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    padding: 0;
}
.button6::placeholder{
    text-align: center;
    font-weight: bold;
    color: #A2BCB9;
    font-family: 'Space Mono', monospace;

}
.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover, .button6:hover{
    background-color: #26C2AD;
    color: #0A4847;
  }
.divNumberPeople{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 25px 0px 25px;
  }
.inputPeople{
    border: none;
    background-color: #F3F8FB;
    font-size: 24px;
    color: #0A4847;
    font-weight: 1000;
    font-family: 'Space Mono', monospace;
    text-align: end;
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    width: 335px;
}
.divResults{
    position: relative;
    width: 340px;
    background-color: #0A4847;
    margin: 10px 25px 10px 25px;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.divTipAmount, .divTotal{
    display: flex;
    justify-content: space-between;
    width: 340px;
}
.textH3{
    margin: 25px;
    color: #F3F8FB;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}
.tipNumber, .tipTotal{
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: #26C2AD;
    margin-right: 25px;
}
.reset{
    width: 270px;
    height: 45px;
    background-color: #0D686D;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bolder;
    font-stretch: condensed;
    margin: 0px 20px 20px 20px;
    border-width: inherit;
    color: #075F63;
}
.reset:hover{
    background-color: #26C2AD;
}
.byPerson, .byPerson2{
    position: absolute;
    color: #A2BCB9;
    font-family: 'Space Mono', monospace;
    font-size: small;
}
.byPerson{
    top: 485px;
    left: 50px;
}
.byPerson2{
    top: 570px;
    left: 50px;
}